
  .item-card {
    width: 280px;
    border: 5px solid #4de62f;
    border-radius: 8px;
    margin: 3px;
    background-color: #a9b4f3;

    /* Un valor: los 4 lados */
    /* padding: 20px; */
  
    /* Dos valores: vertical | horizontal */
    /* padding: 15px 25px; */
  
    /* Tres valores: top | horizontal | bottom */
    /* padding: 10px 20px 15px; */
  
    /* Cuatro valores: top | right | bottom | left */
    padding: 10px 22px 15px 25px;
  }

  /* Sin border-box */
.producto1-card {
    width: 280px;
    padding: 20px;
    border: 1px solid #ccc;
    /* Ancho real: 280 + 20+20 + 1+1 = 322px ← sorpresa */
  }
  
  /* Con border-box: el width incluye padding y border */
  * {
    box-sizing: border-box;
  }
  
  .producto-card {
    width: 280px;
    padding: 20px;
    border: 1px solid #ccc;
    /* Ancho real: 280px ← predecible */
  }

.producto2-card {
    width: 280px;
    padding: 20px;
    border: 2px solid #e0e0e0;
    border-radius: 8px;
    margin: 16px;
    background-color: #f7c6c6;
  }